<form method="POST" action="/admin/backoffice/pagina" class="pagination">
  <input type="hidden" name="pagSeccion" value="<%= prefijo %>" />
  <% if (buscarAcc) { %>
    <input type="hidden" name="buscarAcc" value="<%= buscarAcc %>" />
  <% } %>
  <% if (buscarAli) { %>
    <input type="hidden" name="buscarAli" value="<%= buscarAli %>" />
  <% } %>
  <button type="submit" name="pagDir" value="ant" class="pagBtn<%= hayAnterior ? '' : ' disabled' %>"<%= hayAnterior ? '' : ' disabled' %>>Anterior</button>
  <span class="pagInfo">Página <%= numPagina %></span>
  <button type="submit" name="pagDir" value="sig" class="pagBtn<%= haySiguiente ? '' : ' disabled' %>"<%= haySiguiente ? '' : ' disabled' %>>Siguiente</button>
</form>
