<form method="POST" action="/admin/ventas/pagina" class="pagination">
  <% if (buscarVen) { %>
    <input type="hidden" name="buscarVen" value="<%= buscarVen %>" />
  <% } %>
  <% if (buscarFechaVen) { %>
    <input type="hidden" name="buscarFechaVen" value="<%= buscarFechaVen %>" />
  <% } %>
  <button type="submit" name="pagDir" value="ant" class="pagBtn<%= hayAnterior ? '' : ' disabled' %>"<%= hayAnterior ? '' : ' disabled' %>>Anterior</button>
  <span class="pagInfo">Página <%= numPagina %></span>
  <button type="submit" name="pagDir" value="sig" class="pagBtn<%= haySiguiente ? '' : ' disabled' %>"<%= haySiguiente ? '' : ' disabled' %>>Siguiente</button>
</form>
